# --- Databases (Bind Mounts) ---
databases/auth_db/
databases/boards_db/
databases/chat_db/
databases/dashboard_db/

# Keep the directories themselves but ignore the content
!databases/.gitkeep

# --- Node / NestJS ---
node_modules/
dist/
test/
*.log
.npm/
# --- Environment & Secrets ---
# .env hta npushiw eval 'test'

# Ignore the generated SSL certs if they are in the app folders
secrets/*.pem
secrets/*.crtanmshi n