POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

DATABASE_URL_DOCKER="postgresql://<USER>:<PASSWORD>@boards-db:5432/<DATABASE>?schema=public"

# Database connection (Matches service name in docker-compose)
DATABASE_URL="postgresql://<USER>:<PASSWORD>@<HOST>:5432/<DATABASE>?schema=public"

# Example JWT secret for later
JWT_ACCESS_SECRET=your_jwt_access_secret_here

# secret
INTERNAL_SERVICE_SECRET=your_internal_service_secret_here