POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name

DATABASE_URL="postgresql://<USER>:<PASSWORD>@chat-db:5432/<DATABASE>?schema=public"

JWT_ACCESS_SECRET=your_jwt_access_secret_here